@using Highsoft.Web.Mvc.Charts
@model UniversitiesDashBoardDemo.Models.DashBoardModel

<div class="col-md-6" id="mainSection">
    <section class="box">
        <header class="panel_header">
            <h8 class="title pull-left">@ViewData["title"] </h8>
            <div class="actions panel_actions pull-left">
                @Ajax.ActionLink("Search", "PieChartSearchByUniversity", null , new AjaxOptions {
               HttpMethod="get",
               LoadingElementId="",
               UpdateTargetId="",
               OnSuccess= "onsuccessPieFilter",
               OnComplete= "dimentionRequestCompleted(this)",
               OnFailure=""
           }, new { @onclick = "getPieSearchPrameters(this)", @id="search",type="none" ,@style="display:none"})

                <a class="db_box_large fa fa-filter" data-toggle="modal" href="#searchDiv #searchPanel"></a>
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body" id="piecnt" piechartDimention=@ViewData["piechartDimention"]>
        </div>
    </section>
    <div id="searchDiv">
        @Html.Partial("_SearchPanel", null)
    </div>
</div>

<script>
    var counter = 1;
    function initPieChart(chartId, data,colors) {
        Highcharts.setOptions({
            colors: JSON.parse(colors)
        });
        Highcharts.chart(chartId, {
            chart: {
                plotBackgroundColor: null,

                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: JSON.parse(data)
            }]
        });
    }
    function onsuccessPieChart(result) {
        $(this).attr('parentId');
        initPieChart($(this).attr('parentId'),result, '@Html.Raw(ViewData["catogries"])', 'column');
    }

    $(document).ready(function () {
        var newId = $("#piecnt").attr('Id', 'piechart' + counter);
        counter += 1;
        initPieChart($(newId).attr('Id'), '@Html.Raw(Model.pieChart)','@Html.Raw(ViewData["color"])');
        $("#searchPanel #drpsearch").select2({
            dropdownParent: $('#searchPanel')
        });


    });

    function dimentionPieChange(value, object) {
        var Id = $($($($(object).parentsUntil('#mainSection'))).find('div')[1]).attr('Id');
        $(object).attr('href', $(object).attr('href') + '?dimention=' + value);
        $(object).attr('parentId', Id);

    }
    function dimentionPieRequestCompleted(object) {
        var urlArray = $(object).attr('href').split("?");
        $(object).attr('href', urlArray[0]);
    }

    function onsuccessPieFilter(result) {
        $(this).attr('parentId');
        var chartDimention = $($($($(this).parentsUntil('#mainSection'))).find('div')[1]).attr('piechartDimention');
        var arrayxAxis = $("#SearchCriteria").val().split(',');
        var xAxis = JSON.stringify(arrayxAxis);
        initPieChart($(this).attr('parentId'), result, getDimentionColor(chartDimention));
    }

    function getPieSearchPrameters(object) {
        var chartDimention = $($($($(object).parentsUntil('#mainSection'))).find('div')[1]).attr('piechartDimention');
        $(object).attr('href', $(object).attr('href') + '?searchCriteria=' + $("#SearchCriteria").val() + "&chartDimention=" + chartDimention);
        var Id = $($($($(object).parentsUntil('#mainSection'))).find('div')[1]).attr('Id');
        $(object).attr('parentId', Id);
    }
</script>
