@using Highsoft.Web.Mvc.Charts
@model UniversitiesDashBoardDemo.Models.DashBoardModel

<div class="col-sm-6" id="mainSection">
    <section class="box">
        <header class="panel_header">
            <h2 class="title pull-left">@ViewData["title"] </h2>
            <div class="actions panel_actions pull-left">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" id="menu1" data-toggle="dropdown"></a>
                
                @Ajax.ActionLink("Search", "DimentionSearchByUniversity",null , new AjaxOptions {
               HttpMethod="get",
               LoadingElementId="",
               UpdateTargetId="",
               OnSuccess= "onsuccessFilter",
               OnComplete= "dimentionRequestCompleted(this)",
               OnFailure=""
           }, new { @onclick = "getSearchPrameters(this)" ,@id="search",type="none" ,@style="display:none"})
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation" value="Gender">
                        @Ajax.ActionLink("Select By Gender", "ChangeDimention",null, new AjaxOptions {
                       HttpMethod="get",
                       LoadingElementId="",
                       UpdateTargetId="",
                       OnSuccess= "onsuccessChart",
                       OnComplete= "dimentionRequestCompleted(this)",
                       OnFailure=""
                   }, new { @onclick = "dimentionChange('Gender', this)", @style = "color:black!important" ,@parentId="none" ,@type="1"})
                    </li>
                    <li role="presentation">
                        @Ajax.ActionLink("Select By Nationality", "ChangeDimention",null, new AjaxOptions {
                       HttpMethod="get",
                       LoadingElementId="",
                       UpdateTargetId="",
                       OnSuccess= "onsuccessChart",
                       OnComplete= "dimentionRequestCompleted(this)",
                       OnFailure=""
                   }, new {@onclick="dimentionChange('Nationality', this)", @style = "color:black!important", @type = "2", @parentId = "none" })
                    </li>
                    <li role="presentation">
                        @Ajax.ActionLink("Select By Staff Type", "ChangeDimention",null, new AjaxOptions {
                       HttpMethod="get",
                       LoadingElementId="",
                       UpdateTargetId="",
                       OnSuccess= "onsuccessChart",
                       OnComplete= "dimentionRequestCompleted(this)",
                       OnFailure=""
                   }, new { @onclick = "dimentionChange('Staff Type', this)" ,@style="color:black!important", @type = "3", @parentId = "none" })
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation">
                        @Ajax.ActionLink("Select By All", "ChangeDimention",null, new AjaxOptions {
                       HttpMethod="get",
                       LoadingElementId="",
                       UpdateTargetId="",
                       OnSuccess= "onsuccessChart",
                       OnComplete= "dimentionRequestCompleted(this)",
                       OnFailure=""
                   },new  { @onclick = "dimentionChange('All', this)", @style = "color:black!important", @type = "4", @parentId = "none" })
                    </li>
                </ul>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body" id="cnt" chartDimention=@ViewData["chartDimention"]>
        </div>
    </section>
</div>

<script>
    var counter = 1;
    function initChart(chartId, data, catogriesData, type, colors, length = 10) {
        var chartcount = (JSON.parse(catogriesData)).length;
        Highcharts.setOptions({
            colors: JSON.parse(colors)
        });
        Highcharts.chart(chartId, {
            chart: {
                type: type,
                scrollablePlotArea: {
                    minWidth: 700,
                    scrollPositionX: 1
                },
                zoomType: 'x'
            },
            title: {
                text: ''
            },
            rangeSelector: {
                selected: 1
            },
            xAxis: {
                max: length - 1,
                categories: JSON.parse(catogriesData),
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Student Count'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,

                    borderWidth: 0
                }
            },

            series: JSON.parse(data)
        });
           
    }
    function onsuccessChart(result) {
        $(this).attr('parentId');

        initChart($(this).attr('parentId'), result, '@Html.Raw(ViewData["catogries"])', 'column', getDimentionColor("1"));
    }

    function onsuccessFilter(result) {
        $(this).attr('parentId');
        var chartDimention = $($($($(this).parentsUntil('#mainSection'))).find('div')[1]).attr('chartDimention');
        var arrayxAxis = $("#SearchCriteria").val().split(',');
        var xAxis = JSON.stringify(arrayxAxis);
        initChart($(this).attr('parentId'), result, xAxis, 'column', getDimentionColor(chartDimention),arrayxAxis.length);
    }

    $(document).ready(function () {
        var newId = $("#cnt").attr('Id', 'chart' + counter);
        counter += 1;
        initChart($(newId).attr('Id'), '@Html.Raw(Model.barChart)', '@Html.Raw(ViewData["catogries"])', 'column', '@Html.Raw(ViewData["color"])');
      
    });

    function dimentionChange(value, object) {
        var Id = $($($($(object).parentsUntil('#mainSection'))).find('div')[1]).attr('Id');
        $(object).attr('href', $(object).attr('href') + '?dimention=' + value);
        $(object).attr('parentId', Id);

    }

    function getSearchPrameters(object) {
        debugger;
        var chartDimention = $($($($(object).parentsUntil('#mainSection'))).find('div')[1]).attr('chartDimention');
        $(object).attr('href', $(object).attr('href') + '?searchCriteria=' + $("#SearchCriteria").val() + "&chartDimention=" + chartDimention);
        var Id = $($($($(object).parentsUntil('#mainSection'))).find('div')[1]).attr('Id');
        $(object).attr('parentId', Id);
    }

    function dimentionRequestCompleted(object) {
        debugger;
        var urlArray = $(object).attr('href').split("?");
        $(object).attr('href',  urlArray[0]);
    }

    function getDimentionColor(dimention) {
        if (dimention == "1") {
            return JSON.stringify(["#24CBE5", "#64E572"]);
        }
        else if (dimention == "2") {
            return JSON.stringify(["#FF9655", "#FFF263"]);
        }
        else if (dimention == "3") {
            return JSON.stringify(["#ED561B", "#DDDF00"]);
        }
        else if (dimention == "4") {
            return JSON.stringify(["#24CBE5", "#64E572", "#FF9655", "#FFF263", "#ED561B", "#DDDF00"]);
        }
    }
</script>
